.Footer {
  margin-top: auto;
  background-color: #e3e5e8;
  height: 130px;
  bottom: 0;
}

.Main {
  width: 96%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

li:hover {
  background-color: #ebe8e8;
  opacity: 0.9;
  cursor: pointer;
}

.btn-wrapper {
  display: inline-block;
  justify-content: center;
  margin-top: 3rem;
  padding: 13px;
}

.btn-wrapper2 {
  display: inline-block;
  justify-content: center;
}

.modal-open-button {
  cursor: pointer;
  margin-left: auto;
}

.modal-close-btn {
  cursor: pointer;
  margin-left: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 10px 25px;
  user-select: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
  overflow: hidden;
  background: #DBC4F0;
  color: #000;
  position: relative;
  overflow: hidden;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.modal-container3 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5) !important;
}
.modal-container4 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  width: 300px;
  height: 530px;
  padding: 15px;
  z-index: 999;
  align-items: center;
}

.modal-content2 {
  background-color: #ffffff;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  padding: 15px;
}
.modal-content3 {
  background-color: #ffffff !important;
  border-radius: 10px;
  width: 610px;
  height: 180px;
  padding: 24px;
  line-height: 25px;
}
.modal-content4 {
  background-color: #ffffff;
  border-radius: 15px;
  width: 450px;
  height: 500px;
  padding: 24px;
  line-height: 25px;
}

.main-btn,
.main-btn.active {
  cursor: pointer;
  margin-left: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 10px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
  overflow: hidden;
  background: #DBC4F0;
  color: #000;
  position: relative;
  overflow: hidden;
}

.main-btn.disabled {
  cursor: pointer;
  margin-left: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 10px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
  overflow: hidden;
  background: #8C7E9E;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}