<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<style>
body {
	color: #000000 !important;
}

table {
	border: 1.5px solid #f7effc;
	border-collapse: collapse;
	margin: 2% 0 2% 0;
}

td {
	border-bottom: 1.5px solid #f7effc;
	padding: 1%;
	color: #000000 !important;
}

h3 {
	margin-top: 1%;
}
</style>
</head>

<body>
	<div width="700px">
		<h2>HOTEL VOUCHER</h2>
	</div>
	<span th:utext="${#strings.replace(message, '<br/>', '&lt;br /&gt;')}"></span>
	<br>
	</div>
	<table border="1" width="700px">
		<tr>
			<td>
				<h3>
					Reservation No&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${o_idx}"></span>
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<span th:text="${ho_name}"></span>
				</h3>
				<span th:text="${ho_address}"></span>&nbsp;&nbsp;|&nbsp;&nbsp; <span th:text="${h_phone}"></span>
			</td>
		</tr>
		<tr>
			<td>
				<h3>Details</h3>
				<b>투숙객정보</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${g_name}"></span>&nbsp;&nbsp; (총 인원 : <span th:text="${sum}"></span> 명&nbsp;&nbsp;|&nbsp;&nbsp; 성인 <span th:text="${o_adult}"></span>, 어린이 <span th:text="${o_child}"></span>, 유아 <span th:text="${o_baby}"></span>) <br> <b>객실유형</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${d_room_type} "></span> <br> <b>체크인</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${o_ckin}"></span> <br> <b>체크아웃</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${o_ckout}"></span>
			</td>
		</tr>
		<tr>
			<td>
				<h3>Price Summary</h3>
				<b>가격</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${o_price} "></span>&nbsp;원 (X 1박, 수수료별도) <br> <b>할인금액</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${discount}"></span>&nbsp;원 <br> <b>최종결제금액</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${o_finalprice} "></span>&nbsp;원 <br> <b>결제수단</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${o_payment} "></span> <br> <b>예약날짜</b>&nbsp;&nbsp;:&nbsp;&nbsp; <span th:text="${o_orderdate} "></span>
			</td>
		</tr>
	</table>
	<br> 본 예약은 체크인 1일 전까지, 언제든지 취소/환불 가능합니다.
	<br> 감사합니다.
	<br>
</body>
</html>